@import "reset.css";
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: blanchedalmond;
}

h1 {
  text-align: center;
  color: #333333;
  font-size: xxx-large;
  margin-bottom: 30px;
}

label {
  margin-right: 10px;
}

input[type="number"] {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

button {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  background-color: #333333;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin: 0px 10px;
}

button:hover {
  cursor: pointer;
  opacity: 0.85;
}

.selectDiv {
  text-align: center;
  margin-bottom: 20px;
}

.selectDiv select {
  width: 220px;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  padding-left: 10px;
  font-family: "Kanit", sans-serif;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0.1px 3px rgba(0, 0, 0, 0.8);
}

.converters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.converter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.converter input {
  margin-left: 10px;
}

.converter:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  /* Added */
  .converters {
    flex-direction: row;
    justify-content: center;
  }

  .converter {
    margin-bottom: 0;
  }
}
